.footer {
  background: #2B2C2E;

  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    padding: rem(40) 0;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba($color: #4A4A4A, $alpha: 0.3);

    @include media-mx(992) {
      flex-direction: column;
    }
  }

  &__navigation-logo {
    max-width: rem(150);

  }

  &__navigation-list {
    display: flex;
    align-items: center;
    gap: rem(35);

    @include media-mx(992) {
      flex-direction: column;
      margin: rem(35) 0;
    }
  }


  &__navigation-link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__navigation-btn {
    border-radius: 999px;
    background: #FFF;
    color: #2B2C2E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: rem(10) rem(32);
    transition: all 0.5s;

    &:hover {
      background: var(--3, #FF7BAC);
      color: #FFF;
    }
  }

  &__other {
    padding: rem(40) 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @include media-mx(992) {
      flex-direction: column;
    }
  }

  &__other-brand {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__other-address {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    @include media-mx(992) {
      text-align: center;
      margin: rem(20) 0;
    }
  }

  &__other-copy {
    color: #B1B1B1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}