.about {
  padding-top: rem(200);

  @include media-mx(992) {
    padding-top: rem(70);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(130);
    row-gap: rem(60);
  }

  &__info {
    max-width: rem(640);
    width: 100%;

    @include media-mx(1280) {
      margin: 0 auto;
    }
  }

  &__heading {}

  &__heading-title {
    @include media-mx(1280) {
      text-align: center;
      margin: 0 auto;
    }
  }

  &__heading-double {
    @include media-mx(1280) {
      text-align: center;
      right: 0;
      margin: 0 auto;
    }
  }

  &__text {
    color: #363636;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;

    strong {
      font-weight: 700;
    }


  }

  &__progress {
    display: flex;
    align-items: center;
    gap: rem(40);

    @include media-mx(1280) {
      margin: 0 auto;
    }

    @include media-mx(992) {
      gap: rem(10);
      align-items: start;
    }
  }

  &__progress-box {
    max-width: rem(150);

    @include media-mx(992) {
      max-width: calc(33.333% - rem(5));
      width: 100%;
    }
  }

  &__progress-values {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(15);
  }

  &__progress-img {
    width: 100%;
  }

  &__progress-value {
    position: absolute;
    color: #363636;
    text-align: center;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 129.023%;

    @include media-mx(992) {
      font-size: rem(28);
    }
  }

  &__progress-text {
    color: #363636;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    @include media-mx(992) {
      font-size: 13px;
    }
  }

  &__blocks {
    display: flex;
    width: 100%;
    gap: rem(20);

    @include media-mx(992) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include media-mx(767) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__box {
    flex: 1;
    width: 100%;
  }

  &__box-title {
    color: #363636;
    font-family: Nunito;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 129.023%;
    margin-bottom: rem(15);

    &::after {
      content: "";
      display: flex;
      width: rem(62);
      height: 4px;
      border-radius: rem(20);
      background: var(--3, #FF7BAC);
      margin-top: rem(10);

      @include media-mx(992) {
        height: 5px;
      }
    }
  }

  &__box-text {
    color: #6A6B6C;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__hero-text {
    display: none;

    @include media-mx(992) {
      display: flex;
      color: #727272;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: -0.48px;
    }
  }
}