.channels {
  padding-top: rem(220);

  @include media-mx(992) {
    padding-top: rem(80);
  }

  &__heading {
    @include media-mx(992) {
      height: rem(90);
    }
  }

  &__heading-title {
    text-align: center;
    margin: 0 auto;

    @include media-mx(992) {
      max-width: rem(350);
    }
  }

  &__heading-double {
    text-wrap: nowrap;

    @include media-mx(992) {
      text-wrap: wrap;
      text-align: center;
      font-size: rem(50);
      line-height: 75%;
    }
  }

  &__text {
    max-width: rem(860);
    color: #363636;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin: 0 auto rem(100);

    @include media-mx(767) {
      margin-bottom: rem(40);
      text-align: left;
    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: rem(45);
    max-width: rem(920);
    margin: 0 auto;
    align-items: center;

    @include media-mx(500) {
      flex-direction: column;
      gap: rem(30);
    }
  }

  &__box {
    display: flex;
    width: calc(33.333% - rem(65));
    flex-direction: column;
    align-items: center;

    @include media-mx(767) {
      width: calc(50% - rem(25));
    }

    @include media-mx(500) {
      width: rem(230);
      padding-bottom: rem(30);
      border-bottom: 1px solid #DADADA;
    }
  }

  &__box-img {
    max-width: rem(110);
    margin-bottom: rem(25);
  }

  &__box-title {
    color: #363636;
    text-align: center;
    font-family: Nunito;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 129.023%;
    margin-bottom: rem(9);
  }

  &__box-text {
    color: #6A6B6C;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__box-line {
    width: 1px;
    background: #DADADA;
    height: rem(220);

    @include media-mx(767) {
      display: none;
    }
  }
}