.journay {
  margin-top: rem(220);

  @include media-mx(992) {
    margin-top: rem(80);
  }

  &__heading {
    @include media-mx(992) {
      height: rem(165);
    }
  }

  &__heading-title {
    text-align: center;
    margin: 0 auto;
  }

  &__heading-double {
    text-align: center;
  }

  &__container {}

  &__text {
    color: #363636;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    max-width: rem(860);
    margin: 0 auto;

    @include media-mx(992) {
      font-size: 15px;
      line-height: 160%;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(20);
    margin-top: rem(100);

    @include media-mx(992) {
      grid-template-columns: 1fr;
      margin-top: rem(40);
      gap: rem(40);
    }
  }

  &__box {
    padding-left: rem(20);
    position: relative;

    &:before {
      position: absolute;
      left: rem(-4);
      top: 0;
      bottom: 0;
      content: "";
      height: 100%;
      width: 4px;
      border-radius: 20px;
      background: var(--3, #FF7BAC);
    }
  }

  &__box-title {
    color: #363636;
    font-family: Nunito;
    font-size: rem(26);
    font-style: normal;
    font-weight: 900;
    line-height: 129.023%;
    margin-bottom: rem(15);
  }

  &__box-text {
    color: #6A6B6C;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: rem(340);

    @include media-mx(992) {
      max-width: 100%;
    }
  }
}