// Заголовки, общие БЄМ блоки и проче...
img {
  max-width: 100%;
  height: auto;
}

.section__heading {
  height: rem(100);
  display: flex;
  align-items: end;
  position: relative;
  margin-bottom: rem(22);

  @include media-mx(992) {
    margin-bottom: rem(30);
    height: rem(50);
  }

  &-title {
    color: var(--3, #FF7BAC);
    font-family: Nunito;
    font-size: rem(52);
    font-style: normal;
    font-weight: 900;
    line-height: 129.023%;



    @include media-mx(992) {
      font-size: rem(30);
    }
  }

  &-double {
    left: 0;
    top: 0;
    position: absolute;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 0px 7.6px rgba(0, 0, 0, 0.25);
    font-family: Gilroy;
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: 69%;
    opacity: 0.3;
    z-index: -1;

    @include media-mx(992) {
      font-size: 60px;
    }
  }
}

.swiper-pagination {
  display: none;

  @include media-mx(767) {
    display: flex;
    justify-content: center;
    gap: rem(5);
    margin-top: rem(30);
  }

  .swiper-pagination-bullet {
    width: rem(10);
    height: rem(10);
    border-radius: 10px;
    background: #E1E1E1;
    transition: all 0.5s;
  }

  .swiper-pagination-bullet-active {
    background: #FF7BAC;
  }
}