@font-face {
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nunito;
	font-display: swap;
	src: url("../fonts/Nunito-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Nunito;
	font-display: swap;
	src: url("../fonts/Nunito-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
